html,body {
	height: 100%;
}
/*
body {
	background-color: #df5e3f;
}

.top{
	width: 100%;
	height: 424px;
	overflow: hidden;
	background: #ffe29c url(img/topbg.png) no-repeat top center;
}

.header {
	display: block;
	background-color: #fff;
}
*/
.top_wrap .top_l {
	float: left;
	width: 300px;
}

.top_wrap .top_l img {
	display: block;
	width: 100%;
}

.top_wrap .top_r {
	float: right;
	text-align: left;
}

.top_wrap .top_r img {
	margin-top: 10px;
	display: inline-block;
	height: 90px;
}

.top_wrap .top_r .txt {
	display: inline-block;
	vertical-align: top;
}

.top_wrap .top_r .img {
	display: inline-block;
}
.top_wrap .top_r .img img {
	display: inline-block;
	vertical-align: top;
}

.top_wrap .top_r .txt img {
	display: inline-block;
}

.wrap{
	width: 100%;
	background: url("conbg.png")/*tpa=http://ztdbw.cn/style/css/img/conbg.png*/ no-repeat top center;
	overflow: hidden;
}
.wrapC{
	width: 964px;
	margin: 0 auto;
	overflow: hidden;
}
.wrapC h1{
	background: url("titlebg.png")/*tpa=http://ztdbw.cn/style/css/img/titlebg.png*/ no-repeat;
	height: 140px;
	font-size: 53px;
	color: #ffff00;
	text-align: center;
	line-height:65px;
	padding-top: 5px;
}
.con01{
	overflow: hidden;
}
.con01 ul{
	width: 974px;
}
.con01 ul li{
	background: url("con01bg.png")/*tpa=http://ztdbw.cn/style/css/img/con01bg.png*/ no-repeat;
	width: 234px;
	height: 255px;
	padding-top: 43px;
	float: left;
	margin-right: 9px;
}
.con01 ul li h2{
	font-size: 24px;
	color: #e9423c;
	line-height: 34px;
	text-align: center;
}
.con01 ul li p{
	width: 153px;
	margin: 10px auto 0;
	font-size: 21px;
	color: #fff;
	line-height: 31px;
	text-indent: 2em;
}
.con02{
	overflow: hidden;
	margin-bottom: 17px;
}
.con02L{
	background: url("con02-tu1.png")/*tpa=http://ztdbw.cn/style/css/img/con02-tu1.png*/ no-repeat;
	width: 562px;
	height: 157px;
	padding: 20px 0 0 25px;
	position: relative;
}
.con02L span{
	display: inline-block;
	position: absolute;
	top: 16px;
	right:30px;
	font-size: 34px;
	color: #fff100;
	font-weight: bold;
	font-family: arial;
	line-height: 80px;
	letter-spacing: -2px;
}
.con02L-left p{
	font-size: 36px;
	color: #fff;
	padding-left: 20px;
}
.con02L-right{
	font-size: 30px;
	line-height: 45px;
	color: #fff;
	font-weight: bold;
	margin:60px 60px 0 0;
}
.con02R{
	background: url("con02-tu2.png")/*tpa=http://ztdbw.cn/style/css/img/con02-tu2.png*/ no-repeat;
	width: 371px;
	height: 176px;
}
.con02RL{
	width: 45px;
	font-size: 30px;
	color: #fff;
	text-align: center;
	line-height: 35px;
	font-weight: bold;
	margin: 10px 0 0 20px;
}
.con02RR{
	width: 268px;
	margin:3px 0 0 20px;
}
.con02RR h3{
	font-size: 25px;
	text-align: center;
	color: #e62834;
	font-family: arial;
	line-height: 30px;
}
.con02RR p{
	font-size: 18px;
	color: #e62834;
	font-family: arial;
	text-align: center;
}
.con02RRB{height:110px}
.con02Rcul li a{
	display: inline-block;
	color: #000;
	line-height: 22px; 
}
.con02RRB ul li{
	height: 22px;
	line-height: 22px;
	/*background: url(img/dot.png) no-repeat left center;*/
	color: #000;
	padding-left: 10px;
}
.con03{
	overflow: hidden;
}
.conTitle{
	background: url("title.png")/*tpa=http://ztdbw.cn/style/css/img/title.png*/ no-repeat;
	height: 52px;
	line-height: 52px;
	font-size: 28px;
	color: #fff;
	font-weight: bold;
	text-align: center;
	margin-bottom: 9px;
}
.con03C{
	overflow: hidden;
}
.con03C ul{
	width: 989px;
}
.con03C ul li{
	float: left;
	width: 469px;
	height: 402px;
	background: #fff;
	margin: 0 25px 10px 0;
}
.con03C ul li h3{
	font-size: 22px;
	color: #fff;
	height: 58px;
	line-height: 58px;
	background: #45b8bf;
	text-align: center;
}
.con03C ul li h3.h3_1{
	background: #3ea61b;
}
.con03C ul li h3.h3_2{
	background: #f55176;
}
.con03C ul li h3.h3_3{
	background: #36abe1;
}
.con03Con{
	width: 445px;
	margin: 14px auto 0;
}
.con03Con img{
	float: left;
	display: inline-block;
	width: 210px;
	height: 186px;
	margin: 0 10px 5px 0;
}
.con03Con p{
	font-size:17px;
	line-height: 24px;
}
.con04{
	overflow: hidden;
	height: 285px;
	background: url("con04bg.png")/*tpa=http://ztdbw.cn/style/css/img/con04bg.png*/ no-repeat;
	padding-top: 10px;
}
.con04 h2{
	height: 102px;
	text-align: center;
}
.con04 p{
	width: 590px;
	font-weight: bold;
	font-size: 22px;
	color: #000;
	line-height: 32px;
	text-indent: 2em;
	margin-left: 20px;
}
.con04 p span{
	color: #e80000;
}
.con04 p b{
	font-size: 32px;
	color: #e80000;
}
.con05{
	overflow: hidden;
	margin-top: 25px;
}
.con05C{
	overflow: hidden;
}
.con05C ul{
	width: 974px;
}
.con05C ul li{
	width: 235px;
	height: 400px;
	float: left;
	margin-right: 8px;
}
.con05C ul li.li01{
	background: #277e9a;
}
.con05C ul li.li01 .con05T{
	height: 103px;
	background: #185c7a;
}
.con05C ul li.li02{
	background: #4d497b;
}
.con05C ul li.li02 .con05T{
	height: 103px;
	background: #5b5591;
}
.con05C ul li.li03{
	background: #cf5157;
}
.con05C ul li.li03 .con05T{
	height: 103px;
	background: #fc4952;
}
.con05C ul li.li04{
	background: #694bdf;
}
.con05C ul li.li04 .con05T{
	height: 103px;
	background: #5f36ff;
}
.con05T{
	text-align: center;
}
.con05T span{
	display: inline-block;
	background: url("circle.png")/*tpa=http://ztdbw.cn/style/css/img/circle.png*/ no-repeat;
	width: 72px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	margin-top: 10px;
	font-size: 40px;
	color: #000;
	font-family: arial;
	font-weight: bold;
}
.con05B{
	font-size: 20px;
	line-height: 32px;
	color: #fff;
	text-indent: 2em;
	padding: 10px 15px;
}
.con06{
	width: 100%;
	padding-bottom: 128px;
	background: url("footbg.png")/*tpa=http://ztdbw.cn/style/css/img/footbg.png*/ no-repeat bottom center;
	overflow: hidden;
}
.con06C{
	width: 964px;
	margin: 0 auto;
	overflow: hidden;
}
.con06CL{
	background: url("con06bg.png")/*tpa=http://ztdbw.cn/style/css/img/con06bg.png*/ no-repeat;
	width: 354px;
	height: 265px;
	margin: 52px 22px 0 0;
}
.con06CLT{
	height: 68px;
	text-align: center;
	margin-top: 25px;
	color: #fff;
	overflow: hidden;
}
.con06CLT h3{
	font-size: 30px;	
	line-height: 32px;
}
.con06CL p{
	font-size: 23px;
}
.con06CLB{
	overflow: hidden;
	padding: 10px 40px 0 45px; height:140px
}
.con06CLB ul li{
	height: 25px;
	line-height: 25px;
	/*background: url(img/dot.png) no-repeat left center;*/
	color: #000;
	padding-left: 10px;
}
.con06CLB ul li a{
	display: inline-block;
	color: #000;
	line-height: 25px;
}
.con06CR img{
	margin: 50px 0 0 170px;
	display: block;
	width: 230px;
	height: 230px;
}

.con06CR p {
	margin: 10px 0 0 120px;
	font-size: 30px;
}



.add {
	background-color: #ffe29c;
	height: 300px;
	width: 964px;
	margin: 30px auto 0;
}

.add .add_l {
	float: left;
	font-size: 14px;
	line-height: 25px;
}
.add .add_l .wen,.police {
	position: relative;
}
.add .add_l .wen::after {
	content:'';
	position: absolute;
	width: 30px;
	height: 30px;
	background: url("wenhua.png")/*tpa=http://ztdbw.cn/style/css/img/wenhua.png*/ no-repeat center center;
	top: 0px;
	right: 60px;
}

.add .add_l .police {
	padding-left: 30px;
}


.add .add_l .police:before {
	content:'';
	position: absolute;
	width: 20px;
	height: 20px;
	background: url("qba.png")/*tpa=http://ztdbw.cn/style/css/img/qba.png*/ no-repeat center center;
	top: 4px;
	left: 0;
}


.add .add_r {
	float: right;
}

.add .add_r ul {
	clear: both;
	margin-top: 30px;
}


.add .add_r ul li {
	float: left;
	width: 114px;
	height: 50px;
	padding-left: 10px;

}

.cover {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
	z-index: 10;
	top: 0;
	left: 0;
}

.cover .packet {
	width: 342px;
	height: 479px;
	background: url("layer-redpacket.png")/*tpa=http://ztdbw.cn/style/css/img/layer-redpacket.png*/ no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -171px;
	margin-top: -240px;
}

.cover  .cancel {
	width: 50px;
	height: 50px;
	background: url("cancel.png")/*tpa=http://ztdbw.cn/style/css/img/cancel.png*/ no-repeat center center;
	position: absolute;
	top: 0;
	right: -70px;
	cursor:pointer;
}

.cover  .cancel2 {
	top: 41px;
}

.cover .packet .open {
	display: block;
	width: 129px;
	height: 124px;
	background: url("btn-redpacket.png")/*tpa=http://ztdbw.cn/style/css/img/btn-redpacket.png*/ no-repeat center center;
	position: absolute;
	top: 330px;
	left: 50%;
	margin-left: -60px;
	cursor: pointer;
}

.cover .packet_2 {
	display: none;
	width: 342px;
	height: 520px;
	background: url("layer-get-redpacket.png")/*tpa=http://ztdbw.cn/style/css/img/layer-get-redpacket.png*/ no-repeat center center;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -171px;
	margin-top: -281px;
}

.cover .packet_2 img {
	display: block!important;
	width: 170px!important;
	height: 170px!important;
	margin: 280px auto!important;
}

.wechat {
	position: fixed;
	bottom: 170px;
	right: 100px;
	width: 200px;
	height: 250px;
	background-color: #fff;
}

.wechat img {
	display: block;
	width: 100%;
}

.wechat p {
	text-align: center;
	color: #e62c34;
}



