@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; font-family:"΢���ź�";}
.fl{ float:left;}
.fr{ float:right;}
.wxcol{color:#ff0000;}
.container{ margin:0 auto; width:100%; max-width:640px; padding-top:14px; background-color:#fcfcfc;}
.hd{background: #E05858;height: 60px;width: 100%;overflow: hidden;position: relative;}
.hd .logo{ height: 45px; width:168px; padding-left: 15px;padding-top: 8px;}
.hd .user{ padding: 15px 15px 0 0;}
.hd .user img{ width:30px;}
.main{ padding:0 10px;}
.breadCrumb{ padding:8px 0; border-bottom:1px solid #ebebeb;}
.breadCrumb a{ color:#666; font-size:14px;}
.title{ font-size: 18px; font-weight:bold; padding:10px 0;}
.floorUp{ background:#f3f3f3;height:36px; position:relative; padding:5px 0; margin-bottom:18px;}
.floorUp .touXiang{ border-radius:50%; width:32px; height:32px; overflow:hidden; display:inline-block; position:absolute; top:6px; left:6px;}
.floorUp .touXiang img{ width:32px; height:32px;}
.floorUp .info{ margin-left:48px;}
.floorUp .info .name{ color: #0086CE;text-decoration: none; font-weight:bold; font-size:15px;}
.floorUp .info .time{color:#a1a1a1; font-size:15px;}
.floorUp .info .floorNum{ position:absolute; top:14px; right:18px; color:#9c9c9c; font-size:15px;}
.floorBottom{ margin-bottom:34px;}
.floorBottom p{ text-indent:2em; font-size:18px; text-align:justify; color:#4c4c4c; margin-bottom:10px; padding:0 10px; line-height:22px;}
.floorBottom .blockquote{ border: 1px dashed #B37C37;background: #FDE8B8;padding: 6px 8px 20px 8px;margin: 5px 0; color:#4C4C4C;}
.likeList{ padding:10px; margin-bottom:10px; overflow:hidden;}
.likeList h4{margin-bottom: 10px;font-size: 14px;}
.likeList a{margin-right: 10px;width: 40px;display: block;float: left;color: #666; margin-bottom:4px;}
.likeList img{ width:40px; height:40px; display: block;margin-bottom: 5px;border-radius: 20px;}
.likeList span{display: block;text-align: center;height: 18px;overflow: hidden; font-size:15px;}
.bottom{ border-top: 1px solid #DfDfDf;padding: 15px 0 15px 0;text-align: center; margin-top:50px; position:relative;}
.bottom a{ margin: 0 8px;font-size: 14px; color: #666; text-decoration:none;}
.weixin{ color:red; font-weight:normal;}